IMAGE_NAME=sectly-os
REPO_ORGANIZATION=sectly
IMAGE_DESC="SectlyOS - A opinionated universal blue workstation distro"
IMAGE_KEYWORDS="bootc,oci,linux,kde,aurora,ublue"
IMAGE_LOGO_URL="https://github.com/Sectly.png"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
